# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore Visual Studio files
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
/x64/
/MyVulkanEngine/x64/
/*.obj
/*.pdb
*.exe
*.log
*.vcxproj.user